<div class="h-screen w-full flex justify-center items-center">
  <div class="text-center">
    <h1 class="text-7xl font-bold text-gray-800">404</h1>
    <p class="text-xl">Sorry, The page you were looking for was not found.</p>
    <p class="my-2 text-xs">
      Maybe your URL is incorrect. Enter or visit the correct URL.
    </p>
    <div class="w-max mx-auto my-5">
      <button
        [routerLink]="['/']"
        class="bg-blue-500 px-3 py-2 rounded-md text-white"
      >
        Return Home
      </button>
    </div>
  </div>
</div>
